<form name="answerForm">
  <p>Email:
    <input type="email" ng-model="answer.email" required >
  </p>
  <p>
    Фамилия:
    <input type="text" ng-model="answer.surname" required >
  </p>
  <p>
    Имя:
    <input type="text" ng-model="answer.name" required >
  </p>
  <p>
    Дата рождения:
    <input type="date" ng-model="answer.date" >
  </p>
  <p>
    Телефон:
    <input type="tel" ng-model="answer.phone">
  </p>
  <button ng-click = "save(answer, answerForm)">Отправить</button>
  <br>
  Status: {{status}}
</form>