/* app css stylesheet */

.menu {
  list-style: none;
  margin-top: 2em;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
  padding-left: 2em;
}

a {
  display: inline-block;
  color: black;
}
a.button21 {
  display: inline-block;
  width: 5em;
  height: 2em;
  line-height: 2em;
  vertical-align: middle;
  text-align: center;
  text-decoration: none;
  user-select: none;
  color: rgb(0,0,0);
  outline: none;
  border: 1px solid rgba(0,0,0,.4);
  border-top-color: rgba(0,0,0,.3);
  border-radius: 2px;
  background: linear-gradient(rgb(255,255,255), rgb(240,240,240));
  box-shadow:
          0 0 3px rgba(0,0,0,0) inset,
          0 1px 1px 1px rgba(255,255,255,.2),
          0 -1px 1px 1px rgba(0,0,0,0);
  transition: .2s ease-in-out;
}
a.button21:hover:not(:active) {
  box-shadow:
          0 0 3px rgba(0,0,0,0) inset;
}
a.button21:active {
  background: linear-gradient(rgb(250,250,250), rgb(235,235,235));
  box-shadow:
          0 0 3px rgba(0,0,0,.5) inset,
          0 1px 1px 1px rgba(255,255,255,.4),
          0 -1px 1px 1px rgba(0,0,0,.1);
}