<form name="answerForm">
    <p>Email:
        <input type="email" ng-model="answer.email" required >
    </p>
    <p>
        Фамилия:
        <input type="text" ng-model="answer.surname" required >
    </p>
    <p>
        Имя:
        <input type="text" ng-model="answer.name" required >
    </p>
    <p>
        Возраст:
        <input type="text" pattern="[0-9]{1,2}" ng-model="answer.age" required>
    </p>
        <button ng-click = "save(answer, answerForm)">Отправить</button>
    <br>
    Status: {{status}}
</form>